/* Navbar */
.navbar{
    padding: 1rem;
    background-color: #f5f5f5;
}

.navbar-collapse{
    align-items: center;
    justify-content: center;
}

/* Head page */
.head-page{
    /* background-color: rgb(12, 100, 0);
    color: #ffffff;
    min-height: 1000px; */
}




/* Footer */
.icon-footer{
    opacity: 70%;
    color: black;
    font-size: 1.5rem;
}
