/* Navbar */
.navbar{
    padding: 1rem;
    background-color: #f5f5f5;
}

.navbar-collapse{
    align-items: center;
    justify-content: center;
}

.col-descripcion{
    padding: 2rem;
}

/* Footer */
.icon-footer{
    opacity: 70%;
    color: black;
    font-size: 1.5rem;
}
.col-carrusel{
    padding: 3rem;
}

.col-descripcion h4{
    margin-bottom: 1rem;
}


/* .ha{
    background-color: rgb(116, 35, 35);
} */

.yape-logo{
    max-width: 40px;
}

.btn-yape{
    background-color:  rgb(95, 3, 116);
    border-color:  rgb(95, 3, 116);
    margin-right: 1.5rem;
    max-height:40px;
    border-radius: 15px;
    padding:1rem 2.5rem;
}

.btn-yape:hover{
    color: rgb(255, 255, 255);
    background-color:  rgb(85, 29, 137);
    border-color: rgb(85, 29, 137);
}

.btn-warning{
    border-radius: 20px 20px 20px 20px;
    padding: 0.5rem 1.5rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
}


/* Adaptable(responive) */
@media (max-width: 768px){
    .row{
        display: flex;
        flex-direction:column-reverse;
    }
    .col-carrusel{
        padding: 0rem 2rem;
    }

}